body.login {
  background: {
    image: url(../../assets/img/bgs/bg_login_L.png),
      url(../../assets/img/bgs/bg_login_R.png);
  }
  overflow: hidden;
}

body {
  background: {
    position-y: top;
    size: cover;
    attachment: fixed;
    repeat: no-repeat;
  }
}

/* MAIN */
main {
  height: calc(100vh - 50px);
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
}

.icon-user {
  display: none;
}

/* ILLUSTRATION */
.ctn-illust {
  display: grid;
  justify-items: center;
}

img {
  max-width: 450px;
  height: auto;
  margin-right: 50px;
}

/* FORM */
.ctn-form {
  display: flex;
  justify-content: flex-start;

  .icon-form {
    padding: 10px 15px 10px 10px;
    border-right: 1px solid #dbdbdb;
  }
}

.input-form {
  padding: 10px;
  // margin-bottom: 5px;
  border-radius: 15px;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 3px 4px 0px rgba(78, 81, 102, 0.25);
  background-color: #fff;

  &:hover,
  &:focus {
    border: 1px solid #cacfe1;
    box-shadow: 0px 3px 4px 0px #cacfe1;
  }

  &:focus {
    border: 1px solid #eaeeff;
  }

  input {
    border: none;
    width: 200px;
    outline: none;
    margin-left: 10px;
  }
}

.link {
  color: #fd2d01;
  background-color: transparent;
  text-decoration: none;
  font-weight: 700;
  margin-left: 5px;
  &:hover {
    text-decoration: underline;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

/* BOUTON */
button,
input.btn {
  border: none;
}

.btn-ctn {
  display: grid;
  justify-items: center;
}

.btn {
  background-color: #fd2d01;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 15px;
  padding: 12px 20px;
  box-shadow: 0px 2px 4px 0px rgba(78, 81, 102, 0.25);
  &:hover {
    box-shadow: 0px 2px 4px 2px rgba(78, 81, 102, 0.3);
  }
}

.input-form,
.btn {
  transition: box-shadow 0.2s ease-in-out;
}

/* Message d'erreur */
.error{
  color: #fd2d01;
  font-weight: 700;
  font-size: 14px;
  margin-top: 5px;
}