body.signup {
  background: {
    image: url(../../assets/img/bgs/bg_signup_L.png),
      url(../../assets/img/bgs/bg_signup_R.png);
  }
  overflow: hidden;

  .input-form {
  &:hover,
  &:focus {
    border: 1px solid #ffd7d7;
    box-shadow: 0px 4px 5px 0px #ffd7d7;
  }
}

}

/* ILLUSTRATION */
img {
  margin-right: 0px;
}

